.tagline.hidden-xs
#navbar_header.navbar.navbar-custom.sticky.clearfix(
        role="navigation"
        ng-if="page == 'home'"
    )
    .container
        //- Navbar-header
        .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                i.ti-menu
            //- LOGO
            a.navbar-brand.logo(href="/")
                img.header-logo(src="/img/receiptattached_dark.svg")
        //- end navbar-header
        //- menu
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a#log-out.ng-cloak(href ng-show="user" ng-click="Main.logOut()")
                        | Log Out
    //- end container