
//- +style('//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')

link(rel="shortcut icon" href="/img/headicon.ico" type="image/x-icon")
link(rel="icon" href="/img/headicon.ico" type="image/ico")

+style(
    '/css/main.css?'+VERSION
)

