//- main.pug
extends ../base/layout.pug

block endHead
    //- +style("/static/css/main.css")

block content
    h1 #{siteName} - node template engine
    #container.col
        p You are amazing
        p
            | Jade is a terse and simple
            | templating language with a
            | strong focus on performance
            | and powerful features.

block endBody
    // +script('/static/js/app.js')
