
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">

        <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Плагіатор</span>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <a 
                        class="mdl-button mdl-js-button mdl-button--icon" 
                        id="admin-btn" 
                        href="/backend/check"
                        *ngIf="isAdmin"
                    >
                        <i class="material-icons">dashboard</i>
                    </a>
                    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="admin-btn">
                        Адміністративна частина
                    </div>
                </div>
            </div>
        </header>

        <div class="demo-ribbon"></div>

        <main class="demo-main mdl-layout__content">

            <div class="demo-container mdl-grid">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                    <!-- <div class="demo-crumbs mdl-color-text--grey-500">
                        Google &gt; Material Design Lite &gt; How to install MDL
                    </div> -->
                    <!-- <h4>How to install MDL</h4> -->
                    <p>
                        <router-outlet></router-outlet>
                    </p>
                    <!-- <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre> -->
                </div>
            </div>


            <footer class="demo-footer mdl-mini-footer">
                <div class="mdl-mini-footer--left-section">
                    <ul class="mdl-mini-footer--link-list">
                        <li><span>plagiat.kpi2day.com &copy; 2017</span></li>
                        <!-- <li><a href="#">Help</a></li> -->
                        <!-- <li><a href="#">Privacy and Terms</a></li> -->
                        <!-- <li><a href="#">User Agreement</a></li> -->
                        <li><a [href]="url">ІВСТЕМ</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>

