
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">

        <strong>Текст для перевірки:</strong>

        <form (ngSubmit)="submitState()" autocomplete="off">

            <div class="mdl-textfield mdl-js-textfield">
                <textarea
                    [value]="localState.value"
                    (input)="localState.value = $event.target.value"
                    autofocus 
                    class="mdl-textfield__input" 
                    type="text" 
                    placeholder="Вставте Ваш текст сюди..." 
                    rows="7" 
                    id="sample5"
                ></textarea>
                <label class="mdl-textfield__label" for="sample5"></label>
            </div>
            <br>
          
            <button 
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                [disabled]="localState.id && localState.index"
                >
                Перевірити
            </button>
          
            
            <button 
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                type="button" 
                (click)="go()"
                [disabled]="!localState.id || localState.index == 0"
                >
                <span *ngIf="localState.play">&#9208;</span>
                <span *ngIf="!localState.play">&#9654;</span>
            </button>
          
            <button
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                type="button" 
                (click)="stop()"
                [disabled]="!localState.play && !localState.index"
                >
                &#9209;
            </button>

        </form>

    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">
        <strong>
            Статистика: 
            <span *ngIf="localState.id">
                {{localState.all.length - localState.resEmpty}} / {{localState.all.length}}
            </span>
            <small *ngIf="!localState.id">відсутня</small>
        </strong>
        <ul class='list'>
          <li *ngFor="let plagiat of localState.res" [ngClass]="{'hide': !plagiat.percent}">
            <div *ngIf="plagiat.percent">
                <button
                    type="button"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-item"
                    (click)="plagiat.open = !plagiat.open"
                    [ngClass]="{'mdl-button--colored': plagiat.percent > 10}"
                    title="Інвентаризаційний номер: {{plagiat.theseNPP}}"
                    >
                    <strong>Робота#{{plagiat.theseID}}</strong>
                     - <em>{{plagiat.percent}}</em>%
                </button>
                <div *ngIf="plagiat.open" class="dropdown-item">
                    <span>Слів у шинглі 1: <strong>{{plagiat.per[0]}}</strong>%</span>
                    <br>
                    <span>Слів у шинглі 2: <strong>{{plagiat.per[1]}}</strong>%</span>
                    <br>
                    <span>Слів у шинглі 3: <strong>{{plagiat.per[2]}}</strong>%</span>
                    <br>
                    <span>Слів у шинглі 4: <strong>{{plagiat.per[3]}}</strong>%</span>
                </div>
            </div>
          </li>
        </ul>
    </div>

    <div id="progress-bar" class="mdl-progress mdl-js-progress"></div>

</div>

